<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">检测系统</span>
      </div>
      <div class="desc">车站基础设施安全检测系统</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2017 <a href="//baidu.com" target="_blank">车站</a>出品
    </global-footer>
  </div>
</div>
<layout-theme-btn></layout-theme-btn>
