<div class="infra-health">
  <h2>基础设施健康状态</h2>
  <div nz-row class="health-check-num-wrapper">
    <div nz-col nzSpan="12">检测设备数</div>
    <div nz-col nzSpan="12">90/666</div>
  </div>
  <div nz-row class="health-check-num-wrapper">
    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="12">电梯</div>
        <div nz-col nzSpan="12">68/317</div>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="12">屏蔽门</div>
        <div nz-col nzSpan="12">26/209</div>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-date-picker
        nzShowTime
        nzFormat="yyyy-MM-dd HH:mm:ss"
        nzPlaceHolder="时间"
        ngModel
        (ngModelChange)="onDateChange($event)"
        (nzOnOk)="onDateOk($event)"
      ></nz-date-picker>
    </div>
    <div nz-col nzSpan="12">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="设备" (ngModelChange)="onEquipChange($event)">
        <nz-option nzLabel="电梯" nzValue="1"></nz-option>
        <nz-option nzLabel="自动售票机" nzValue="2"></nz-option>
        <nz-option nzLabel="屏蔽门" nzValue="3"></nz-option>
      </nz-select>
    </div>
  </div>
  <h4>健康状态</h4>
  <g2-pie
    [hasLegend]="false"
    subTitle="75%"
    [total]="total"
    [valueFormat]="format"
    [data]="salesPieData"
    height="100"
    (clickItem)="handlePieClick($event)"
  ></g2-pie>
</div>
