<div class="infra-root-div">
  <h1>车站基础设施安全检测系统</h1>
  <div>
    <div nz-row>
      <div nz-col nzSpan="7">
        <app-bigdata-analysis></app-bigdata-analysis>
        <app-infra-health></app-infra-health>
      </div>
      <div nz-col nzSpan="10">
        <app-correlation-analysis></app-correlation-analysis>
      </div>
      <div nz-col nzSpan="7">
        <app-realtime-notice></app-realtime-notice>
        <app-health-stat></app-health-stat>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6" >
       <app-infra-fail-analysis></app-infra-fail-analysis>
      </div>
      <div nz-col nzSpan="12">
        <app-fault-analysis-prediction></app-fault-analysis-prediction>
      </div>
      <div nz-col nzSpan="6" >
        <app-equipment-fail-forecast></app-equipment-fail-forecast>
      </div>
    </div>
  </div>
</div>
