<page-header [title]="'基础设施健康状态'"></page-header>
<div class="infra-health">
  <nz-card [nzBordered]="false" class="ant-card__body-nopadding sales-card">
    <div nz-row>
      <div nz-col nzSpan="18" nzOffset="3">
        <div nz-row>
          <div nz-col nzSpan="12">
            时间
            <nz-select nzAllowClear nzSuffixIcon="calendar">
              <nz-option nzLabel="最近1小时" nzValue="1h"></nz-option>
              <nz-option nzLabel="最近12小时" nzValue="12h"></nz-option>
              <nz-option nzLabel="最近1天" nzValue="1d"></nz-option>
              <nz-option nzLabel="最近7天" nzValue="7d"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="12">
            设备
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="设备" (ngModelChange)="onEquipChange($event)">
              <nz-option nzLabel="屏蔽门" nzValue="1"></nz-option>
              <nz-option nzLabel="检票机" nzValue="2"></nz-option>
              <nz-option nzLabel="电梯" nzValue="3"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
    <div nz-row class="chart-region">
      <div nz-col nzSpan="18" nzOffset="3">
        <div nz-row class="chart-region-main">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div>
              <h2 class="text-center">健康状态</h2>
            </div>
            <g2-pie
              [hasLegend]="true"
              title="健康状态"
              subTitle="75%"
              [total]="total"
              [valueFormat]="format"
              [data]="salesPieData"
              height="320"
              (clickItem)="handlePieClick($event)"
            ></g2-pie>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16" class="number-stat">
            <div>
              <h2 class="test-title">本月检测设备数</h2>
              <div class="test-num-div"><span class="test-num">90</span>/<span class="test-total">160</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-card>
</div>
